{{#if (and email git_username)}}
[user]
    email = {{email}}
    name = {{git_username}}
{{/if}}

{{#if proxy_set}}
[http]
	proxy = socks5://127.0.0.1:{{proxy_port}}
	proxy = http://127.0.0.1:{{proxy_port}}
	postBuffer = {{postBuffer}}
	sslVerify = {{sslVerify}}
[https]
	proxy = socks5://127.0.0.1:{{proxy_port}}
	proxy = http://127.0.0.1:{{proxy_port}}
{{/if}}